.parallaxContact{
	 /* The image used */
  background-image: url("/storage/icons/parallaxContact.jpg");
  width: 100%;
  /* Set a specific height */
  min-height: 400px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% center;
  background-position: -30%top;
  background-repeat: no-repeat;
  background-size:100% auto;
  margin-bottom: 10px;
}
.titreContact{
  position: absolute;
  top: 45%;
  left: 1%;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 3px solid #f7941e;
}
.tab-pane{
  border: 0.3px solid #D3D3D3;
  padding: 15px;
}

.img-contact{
	width: 500px;
	height: 400px

}
#mapOran, #mapMosta, #mapChlef, #mapTel{height: 200px; width: 500px;}
.coordone {
	font-size: 25px;
	margin-top: 20px;
}

.coordone a:link{
	text-decoration: none;
}

@media only screen and (max-device-width: 736px) {
.titreContact{
  top: 17%;
  left: 1%;
}
.img-contact{
	width: 700px;
	height: 500px

}
#mapOran, #mapMosta, #mapChlef, #mapTel{margin-top: 520px;margin-left: -270px;}
.coordone{margin-left: -270px;}
}