.titrePage{
	position: absolute;
	top: 30%;
	left: 32%;
	color: #fff;
	font-weight: bold;
	border-bottom: 3px #f7941e solid;
}

.w-100{
	width: 500px!important;
	height: 300px;
}

.thumb{
	width: 150px!important;
	height: 80px;
}
#glider-persp{
	margin-top: 50px;
}