
.container-md, .container-sm, .container-fluid {
                        padding-right: 0px;
                        padding-left: 0px;
                    }
.parallax{
	 /* The image used */
  background-image: url("/storage/propos/parallax.jpg");
  width: 100%;
  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.titrePage{
	position: absolute;
	top: 45%;
	left: 3%;
	font-weight: bold;
}
.imgRubrique{
	width: 100%;
}
.offres{
	background-color: #f7941e;
	margin: 10px 0px;
}
.offres .col-sm-3{
	text-align: center;

} 
.btn-outline-warning{
	margin-right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
}
.btn-outline-warning a{
  color: #f7941e;
}
.btn-outline-warning a:hover{
  color: #fff;
}

@media only screen and (max-device-width: 736px) {
  .titrePage{
  top: 22%;
  left: 3%;
}
}